 <% include ./partials/header.ejs %>
    <% include ./partials/site-navigation.ejs %>
        <div class="row row-override">
            <% include ./partials/user-navigation.ejs %>
            <main class="col-sm-9">
                <p>Norm's  Musically is a Music Store app founded in 2019.<br>

                It has variety of earphones and headphones products available.<br>

                This is the first ever app made completely on earphones and Headphones.<br>

                The clean, simple look and feel of this products makes it a amazing to long lasting.</p>
            </main>
        </div>
        <% include ./partials/footer.ejs %>
    </div>
</body>
</html>


