
        <% include ./partials/header.ejs %>
        <% include ./partials/site-navigation.ejs %>
        <div class="row row-override">
            <% include ./partials/user-navigation.ejs %>
            <main class="col-sm-9">
                <div class="main-content-div"><h4>Welcome to Norm's Musically site. It is a lifestyle brand that deals in fashionable consumer electronics like earphones and headphones. Our products bends into your daily lifestyle, almost to the point of being a fashion accessory and a perfect fit to your ambient sorroundings.<br> Check out our store for all types of earphone's and headphone's</h4>
                </div>
            </main>
        </div>
        <% include ./partials/footer.ejs %>
    </div>
</body>
</html>